@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Nossa politica é assim, assim, assado.</p>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam ullam officia voluptatem vitae voluptatibus, nostrum,
    laborum saepe nobis debitis cupiditate minima ipsum ea. Delectus voluptatibus molestias ex sunt qui. Perspiciatis!
</p>